if cardError != ''
    div(class="card cardError")
        i(class="fas fa-exclamation-circle")
        p=cardError
        i(class="closeCard fas fa-times" onClick="closeCard()")

if cardSucess != ''
    div(class="card cardSucess")
        i(class="fas fa-check-circle")
        p=cardSucess
        i(class="closeCard fas fa-times" onClick="closeCard()")