if typeof erros != 'undefined'
    each e in erros
        p(class="errorMsg")=e.msg

if sucess_msg != ''
    p(class="sucessMsg")=sucess_msg

if error_msg != ''
    p(class="errorMsg")=error_msg

if error != ''
    p(class="errorMsg")=error