body
    //Main content
    main#mainConfigDoador
        width: calc(100% - 30px)
        min-height: calc(100vh - 30px - 50px)
        margin: 15px auto
        padding: 15px
        background-color: $defaultLightGrey
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15)
        header.HeaderDashboard
            text-align: center
            h4
                color: $defaultDarkOrange
        div#dadosPessoais
            width: 100%
            header
                h3
                    width: 100%
                    margin: 30px 0
                    color: $defaultDarkOrange
                    border-bottom: 2px solid $defaultDarkOrange
            table
                border-collapse: collapse
                width: 100%
                margin-bottom: 30px
                td, th
                    color: $defaultDarkBlue
                    text-align: left
                    padding: 15px
                    width: 50%
                tr:nth-child(even)
                    background-color: $defaultGrey
            #formDataButtons
                display: flex
                flex-direction: column
        div#enderecoDoacao
            width: 100%
            header
                h3
                    width: 100%
                    margin: 30px 0
                    color: $defaultDarkOrange
                    border-bottom: 2px solid $defaultDarkOrange
            table
                border-collapse: collapse
                width: 100%
                margin-bottom: 30px
                td, th
                    color: $defaultDarkBlue
                    text-align: left
                    padding: 15px
                    width: 50%
                tr:nth-child(even)
                    background-color: $defaultGrey
            #formAdressButtons
                display: flex
                flex-direction: column

@media screen and (min-width: 1024px)
    body
        //Main content
        main#mainConfigDoador
            width: 90%
            #ContainerConfigDoador
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
                grid-gap: 50px

@media screen and (min-width: 1368px)
    body
        //Main content
        main#mainConfigDoador
            width: 75%
            #ContainerConfigDoador
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
                grid-gap: 50px

@media screen and (min-width: 1500px)
    body
        //Main content
        main#mainConfigDoador
            width: 70%
            #ContainerConfigDoador
                display: grid
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
                grid-gap: 50px