*
    box-sizing: border-box
body
    margin: 15px
    background-color: $white
    overflow-x: hidden
    font-family: 'UbuntuLight'
    #wrapper
        width: calc(100% - 30px)
        height: calc(100vh - 30px)
        margin-left: 15px
        margin-top: 15px
        padding: 15px
        background: linear-gradient(236.44deg, rgba(227, 91, 93, 0.8) 14.73%, rgba(241, 128, 82, 0.8) 97.66%)
        img#HeaderLogo
            position: absolute
            top: 50px
            left: 50px
        main#mHomePage
            height: 100%
            display: grid
            grid-template-rows: repeat(2, 1fr)
            #mBoxArticle
                display: flex
                flex-direction: column
                align-self: flex-end
                img
                    max-width: 85%
                    margin: 0 auto
                p
                    text-align: center
                    color: $white
                    font-size: 20px
                    font-family: 'UbuntuRegular', sans-serif
            #mBoxBtns
                display: flex
                flex-direction: column
                justify-self: center
                align-self: center
                a
                    font-family: 'UbuntuMedium', sans-serif
                >a:first-of-type
                    margin-bottom: 50px

@media screen and (min-width: 768px)
    #mBoxBtns
        flex-direction: row !important
        >a:first-of-type
            margin-bottom: 0 !important
            margin-right: 50px