doctype html
html
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="leftContainer")
                a(class="menu-active" href="/dashboardOng")
                    i(class="fas fa-hands")
                a(href="/ong/doacoesPendentes")
                    i(class="fas fa-bookmark")
            div(class="dashboardName")
                p=name
            div(id="rightContainer")
                a(href="/ong/config")
                    i(class="fas fa-cog")
                a(href="/logout")
                    i(class="fas fa-sign-out-alt")
        // Body content
        include partials/messages.pug
        main(id="mainDashboard")
            header.HeaderDashboard
                h1 Bem vindo(a) #{name}
                h4 Procurando uma doação?