doctype html
html(lang="pt-br")
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="leftContainer")
                a(class="menu-active" href="/dashboardOng" aria-label="Redireciona para o painel da Ong.")
                    i(class="fas fa-hands")
                a(href="/ong/doacoesPendentes" aria-label="Redireciona para a lista de doações da Ong.")
                    i(class="fas fa-bookmark")
            div(class="dashboardName")
                p=name
            div(id="rightContainer")
                a(href="/ong/config" aria-label="Redireciona para página de configuração da Ong.")
                    i(class="fas fa-cog")
                a(href="/logout" aria-label="Sai da conta da Ong.")
                    i(class="fas fa-sign-out-alt")
        // Body content
        include partials/messages.pug
        main(id="mainDashboard")
            header.HeaderDashboard
                h1 Bem vindo(a) #{name}
                h4 Procurando uma doação?