doctype html
html
    include partials/header.pug
    body
        #backBtn
            a(href="/")
                img(src="/images/back.svg", alt="Back button")
        main#mLoginWrapper
            div(id="boxLogin")
                header.HeaderDoador
                    h1 Bem vindo Doador(a)
                    h4 Se você quer doar e não sabe como, aqui é a maneira mais fácil de fazer isso.
                div#form
                    h2 Login
                    form.formDoador(action="/doador/login", method="post")
                        input#EmailLogin(type="email", name="email" placeholder="Digite seu email")
                        input#PasswordLogin(type="password", name="password" placeholder="Digite sua senha")
                        input(type="submit", value="Entrar")
                    p Não tem uma conta? 
                        a(href="/doador/registro") Criar Conta.
    script(src="/js/main.js")