doctype html
html(lang="pt-br")
    include partials/header.pug
    body
        div#wrapper
            img#HeaderLogo(src="../images/Logo.svg", alt="WrapOrg logo")
            main#mHomePage
                #mBoxArticle
                    img(src="../images/Logotipo.svg", alt="WrapOrg logo Tipo")
                    p Nós ajudamos e facilitamos a conexão entre doadores e ongs.
                #mBoxBtns
                    a.btndefault(href="/doador/login" aria-label="Redireciona para página de login do doador.") QUERO DOAR
                    a.btndefault(href="/ong/login" aria-label="Redireciona para página de login da ONG.") REPRESENTO UMA ONG