doctype html
html
    include partials/header.pug
    body
        div#wrapper
            img#HeaderLogo(src="../images/Logo.svg", alt="WrapOrg logo")
            main#mHomePage
                #mBoxArticle
                    img(src="../images/Logotipo.svg", alt="WrapOrg logo Tipo")
                    p Nós ajudamos e facilitamos a conexão entre doadores e ongs.
                #mBoxBtns
                    a.btndefault(href="/doador/login") QUERO DOAR
                    a.btndefault(href="/ong/login") REPRESENTO UMA ONG