doctype html
html
    include partials/header.pug
    body
        main#mHomePage
            #mboxDoar
                a.btndefault(href="/doador") QUERO DOAR
            #mLogo
                img(src="../images/logo.svg", alt="WrapOrg logo")
            #mboxOng
                a.btndefault(href="#") REPRESENTO UMA ONG